* {
    margin: 0px;
    padding: 0px;
    list-style: none;

}

header {
    background-color: #518BA7;
    padding: 1% 5%;
    height: 110px;
    /*    margin-bottom: 5px;*/
}

#logo-wrap {
    display: inline-block;
    /*    border: .1px solid;*/
}

#logo {
    width: 50px;
    height: 50px;
    margin: 5px 0px;
    float: left;
    border: 0.5px solid;
}

h1 {
    color: #F5AC21;
    display: inline-block;
    margin: 5px 10px;
    clear: right;
    font-weight: bold;
    font-family: sans-serif;
    /*    font-size: 25px;*/
    /*    border: .5px solid;*/
}

img {
    width: 40px;
    height: 40px;
    float: right;
    margin: 0px .2%;
    margin-top: 1%;
}

input[type="search"] {
    float: right;
    margin-top: 6px;
    border-radius: 5px;
    height: 28px;
    text-align: right;
}


small {
    color: #ffffff;
    display: block;
    margin: 0px 60px;
    /*    border: 1px solid;*/
}

nav#menu-bar {
    height: 30px;
    border-top: 1px solid white;
    margin-top: .5%;
    padding: .5% 0%;
}

/*
nav#menu-bar ul {
    background-color: darkcyan;
    padding: 0px;
    margin: 0px;
}
*/

nav#menu-bar ul li {
    background-color: #26C6DA;
    display: inline-block;
    float: left;
    margin: 6px 1px;
    padding: 5px 10px;
    border-radius: 10px 30px;
    box-shadow: 2px 2px 5px #43617D;
}

nav#menu-bar ul li a {
    text-decoration: none;
    color: white;
}

div#content-wrapper {
    width: 86%;
    margin: 5px auto;
}

main {
    background-color: #F4F4F4;
    clear: left;
    float: left;
    padding: 1.5%;
    width: 64%;
}

article {
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
article h2 {
        color: #2D3244;
}

article p {
    color: #425F7A;
}

aside {
    background-color: #518BA7;
    width: 30%;
    height: 450px;
    float: left;
    padding: 1.5%;

}

/*aside div#sidebar-right {
    height: 35px;
    background-color: #0161A6;
    margin-bottom: 5px;
    padding: 1%;
    text-align: center;
    color: white;
    
}*/

nav#tabs-widget {
    height: 25px;
/*    background-color: dimgrey;*/
    margin-bottom: 5px;
}

nav#tabs-widget ul {}

nav#tabs-widget ul li {
    background-color: #0161A6;
    color: white;
    display: inline-block;
    margin: 0px 0px;
    padding: 3.5px 10px;

}

nav#tabs-widget ul li a {
    text-decoration: none;
    color: white;
}

ul#items {
/*    background-color: skyblue;*/t 
    color: white;
}

ul#items div.item-content {
    border-top: 1px dashed;
    padding: 10px 5px;
    color: #ADD3D9;
}

ul#items div.item-content a {
    text-decoration: none;
}

footer #text-left-footer {
    display: inline-block;
}
footer #text-right-footer {
    display: inline-block;
    float: right;
    margin-top: 10px;
}

footer #text-right-footer ul li{
    display: inline;
}
footer #text-right-footer ul li a {
    text-decoration: none;
}

footer {
    background-color: #518BA7;
    clear: both;
    padding: 2% 7%; 
}